<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            padding: 0;
            margin: 0;
        }
        h1{
            padding: 5px;
            text-align: center;
            font-size: 45px;
            background-color: rgb(254, 184, 20);

        }
        body{
           background-image:url('https://www.shutterstock.com/image-vector/3d-blue-arrow-sign-double-600nw-2510826965.jpg');
            background-repeat: no-repeat;
            background-size: 100% 100%;
    
        }
        .employee{
            width: 530px;
            margin-top: 50px;
            text-align: center;
            box-shadow: 0 4px 5px 8px rgb(224, 223, 223);
            border: 2px solid rgb(10, 10, 10);
            border-radius: 14px;
            background-color: rgb(241, 250, 138);
            margin-left: 120px;
           
        }
        .employee:hover{
            box-shadow: 0 4px 5px 8px rgb(243, 2, 2);
            border: 2px solid rgb(10, 10, 10);
            border-radius: 18px;
        }
        input{
            height: 30px;
            width: 350px;
            border-radius: 5px;
            margin-top: 30px;
            padding-left: 20px;
            margin-right: 20px;
            font-size: 17px;
            background-color: rgb(251, 221, 245);
        }
        .redi{
            height: 20px;
            width: 20px;
            margin-left: 50px;
            border: none;
            accent-color: rgb(227, 4, 4);
        
        }
        label{
            margin-left: 15px;
            font-size: 24px;
            color: rgb(2, 2, 2);
            
        }
        select{
            height: 30px;
            width: 350px;
            border-radius: 5px;
            margin-top: 30px;
            padding-left: 20px;
            font-size: large;
        }
        #sum{
            background-color: rgb(0, 24, 181);
            color: rgb(250, 249, 249);
            width: 150px;
            height: 44px;
            font-size: 30px;
            font-family: Arial, Helvetica, sans-serif;
            margin-top: 50px;
            margin-bottom: 40px;
            padding: 5px;
            border: none;
            border-radius: 8px;
        }
        #sum:hover{
            background-color: rgb(4, 38, 229);
            color: rgb(4, 4, 4);
        }
    </style>
</head>
<body>
    <h1>Update Employee Recoards</h1>
    
    <div class="employee">
        <h1 style="background-color: rgb(241, 250, 138);">Update Form</h1>
        
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <label>Full Name :</label>
            <input type="text" name="fname"  value="{{data.full_name}}" required>
        <br>
            <label>Email :</label>
            <input type="email" name="email"  value="{{data.email}}" required>
        <br>
            <label>Contect No:</label>
            <input type="tel" name="phone"  value="{{data.phone}}" required>
        <br>    
            <label>Post :</label>
            <input type="text" name="post"  value="{{data.post}}" required>
        <br>    
            <label>Salary :</label>
            <input type="number" name="salary"  value="{{data.salary}}" required>
        <br>    
            <label>Gender :</label>
            
            <input type="radio" name="gender"required class="redi" value="Male" > <label>Male</label>
            <input type="radio" name="gender"required class="redi" value="female"> <label>Female</label>
            
        <br>    
            <label>Address :</label>
            <input type="text" name="address"  value="{{data.address}}" required>
        <br>    
            <label>Select State :</label>
            {% if data.state == "Uttar Pradesh" %}
            <select name="state">
                <option selected disabled>Select state</option>
						<option value="Uttar Pradesh" selected> Uttar Pradesh</option>
						<option value="Gujarat"> Gujarat</option>
						<option value="Maharatra"> Maharatra</option>
						<option value="Andhra Pradesh">Andhra Pradesh</option>
						<option value="Arunachal Pradesh">Arunachal Pradesh</option>
						<option value="Assam">Assam</option>
						<option value="Bihar">Bihar</option>
						<option value="Goa">Goa</option>
						<option value="Haryana">Haryana</option>
						<option value="Himachal">Himachal Pradesh</option>
						<option value="Jharkhand">Jharkhand</option>
						<option value="Karnataka">Karnataka</option>
						<option value="Kerala">Kerala</option>
						<option value="Madhya Pradesh">Madhya Pradesh</option>
						<option value="Manipur">Manipur</option>
						<option value="Meghalaya">Meghalaya</option>
						<option value="Mizoram">Mizoram</option>
						<option value="Nagaland">Nagaland</option>
						<option value="Odisha">Odisha</option>
						<option value="Punjab">Punjab</option>
						<option value="Rajasthan">Rajasthan</option>
						<option value="Sikkim">Sikkim</option>
						<option value="Tamil Nadu">Tamil Nadu</option>
						<option value="Telangana">Telangana</option>
						<option value="Tripura">Tripura</option>
						<option value="Uttarakhand">Uttarakhand</option>
						<option value="West Bengal">West Bengal </option>
            </select>
            {% endif %}
            
            {% if data.state == "Gujarat" %}
            <select name="state">
                <option selected disabled>Select state</option>
						<option value="Uttar Pradesh"> Uttar Pradesh</option>
						<option value="Gujarat" selected> Gujarat</option>
						<option value="Maharatra"> Maharatra</option>
						<option value="Andhra Pradesh">Andhra Pradesh</option>
						<option value="Arunachal Pradesh">Arunachal Pradesh</option>
						<option value="Assam">Assam</option>
						<option value="Bihar">Bihar</option>
						<option value="Goa">Goa</option>
						<option value="Haryana">Haryana</option>
						<option value="Himachal">Himachal Pradesh</option>
						<option value="Jharkhand">Jharkhand</option>
						<option value="Karnataka">Karnataka</option>
						<option value="Kerala">Kerala</option>
						<option value="Madhya Pradesh">Madhya Pradesh</option>
						<option value="Manipur">Manipur</option>
						<option value="Meghalaya">Meghalaya</option>
						<option value="Mizoram">Mizoram</option>
						<option value="Nagaland">Nagaland</option>
						<option value="Odisha">Odisha</option>
						<option value="Punjab">Punjab</option>
						<option value="Rajasthan">Rajasthan</option>
						<option value="Sikkim">Sikkim</option>
						<option value="Tamil Nadu">Tamil Nadu</option>
						<option value="Telangana">Telangana</option>
						<option value="Tripura">Tripura</option>
						<option value="Uttarakhand">Uttarakhand</option>
						<option value="West Bengal">West Bengal </option>
            </select>
            {% endif %}
            {% if data.state == "Maharatra" %}
            <select name="state">
                <option selected disabled>Select state</option>
						<option value="Uttar Pradesh" > Uttar Pradesh</option>
						<option value="Gujarat"> Gujarat</option>
						<option value="Maharatra" selected> Maharatra</option>
						<option value="Andhra Pradesh">Andhra Pradesh</option>
						<option value="Arunachal Pradesh">Arunachal Pradesh</option>
						<option value="Assam">Assam</option>
						<option value="Bihar">Bihar</option>
						<option value="Goa">Goa</option>
						<option value="Haryana">Haryana</option>
						<option value="Himachal">Himachal Pradesh</option>
						<option value="Jharkhand">Jharkhand</option>
						<option value="Karnataka">Karnataka</option>
						<option value="Kerala">Kerala</option>
						<option value="Madhya Pradesh">Madhya Pradesh</option>
						<option value="Manipur">Manipur</option>
						<option value="Meghalaya">Meghalaya</option>
						<option value="Mizoram">Mizoram</option>
						<option value="Nagaland">Nagaland</option>
						<option value="Odisha">Odisha</option>
						<option value="Punjab">Punjab</option>
						<option value="Rajasthan">Rajasthan</option>
						<option value="Sikkim">Sikkim</option>
						<option value="Tamil Nadu">Tamil Nadu</option>
						<option value="Telangana">Telangana</option>
						<option value="Tripura">Tripura</option>
						<option value="Uttarakhand">Uttarakhand</option>
						<option value="West Bengal">West Bengal </option>
            </select>
            {% endif %}
            {% if data.state == "Andhra Pradesh" %}
            <select name="state">
                <option selected disabled>Select state</option>
						<option value="Uttar Pradesh" > Uttar Pradesh</option>
						<option value="Gujarat"> Gujarat</option>
						<option value="Maharatra"> Maharatra</option>
						<option value="Andhra Pradesh" selected>Andhra Pradesh</option>
						<option value="Arunachal Pradesh">Arunachal Pradesh</option>
						<option value="Assam">Assam</option>
						<option value="Bihar">Bihar</option>
						<option value="Goa">Goa</option>
						<option value="Haryana">Haryana</option>
						<option value="Himachal">Himachal Pradesh</option>
						<option value="Jharkhand">Jharkhand</option>
						<option value="Karnataka">Karnataka</option>
						<option value="Kerala">Kerala</option>
						<option value="Madhya Pradesh">Madhya Pradesh</option>
						<option value="Manipur">Manipur</option>
						<option value="Meghalaya">Meghalaya</option>
						<option value="Mizoram">Mizoram</option>
						<option value="Nagaland">Nagaland</option>
						<option value="Odisha">Odisha</option>
						<option value="Punjab">Punjab</option>
						<option value="Rajasthan">Rajasthan</option>
						<option value="Sikkim">Sikkim</option>
						<option value="Tamil Nadu">Tamil Nadu</option>
						<option value="Telangana">Telangana</option>
						<option value="Tripura">Tripura</option>
						<option value="Uttarakhand">Uttarakhand</option>
						<option value="West Bengal">West Bengal </option>
            </select>
            {% endif %}
            {% if data.state == "Arunachal Pradesh" %}
            <select name="state">
                <option selected disabled>Select state</option>
						<option value="Uttar Pradesh" selected> Uttar Pradesh</option>
						<option value="Gujarat"> Gujarat</option>
						<option value="Maharatra"> Maharatra</option>
						<option value="Andhra Pradesh">Andhra Pradesh</option>
						<option value="Arunachal Pradesh" selected>Arunachal Pradesh</option>
						<option value="Assam">Assam</option>
						<option value="Bihar">Bihar</option>
						<option value="Goa">Goa</option>
						<option value="Haryana">Haryana</option>
						<option value="Himachal">Himachal Pradesh</option>
						<option value="Jharkhand">Jharkhand</option>
						<option value="Karnataka">Karnataka</option>
						<option value="Kerala">Kerala</option>
						<option value="Madhya Pradesh">Madhya Pradesh</option>
						<option value="Manipur">Manipur</option>
						<option value="Meghalaya">Meghalaya</option>
						<option value="Mizoram">Mizoram</option>
						<option value="Nagaland">Nagaland</option>
						<option value="Odisha">Odisha</option>
						<option value="Punjab">Punjab</option>
						<option value="Rajasthan">Rajasthan</option>
						<option value="Sikkim">Sikkim</option>
						<option value="Tamil Nadu">Tamil Nadu</option>
						<option value="Telangana">Telangana</option>
						<option value="Tripura">Tripura</option>
						<option value="Uttarakhand">Uttarakhand</option>
						<option value="West Bengal">West Bengal </option>
            </select>
            {% endif %}
            {% if data.state == "Assam" %}
            <select name="state">
                <option selected disabled>Select state</option>
						<option value="Uttar Pradesh" > Uttar Pradesh</option>
						<option value="Gujarat"> Gujarat</option>
						<option value="Maharatra"> Maharatra</option>
						<option value="Andhra Pradesh">Andhra Pradesh</option>
						<option value="Arunachal Pradesh">Arunachal Pradesh</option>
						<option value="Assam" selected>Assam</option>
						<option value="Bihar">Bihar</option>
						<option value="Goa">Goa</option>
						<option value="Haryana">Haryana</option>
						<option value="Himachal">Himachal Pradesh</option>
						<option value="Jharkhand">Jharkhand</option>
						<option value="Karnataka">Karnataka</option>
						<option value="Kerala">Kerala</option>
						<option value="Madhya Pradesh">Madhya Pradesh</option>
						<option value="Manipur">Manipur</option>
						<option value="Meghalaya">Meghalaya</option>
						<option value="Mizoram">Mizoram</option>
						<option value="Nagaland">Nagaland</option>
						<option value="Odisha">Odisha</option>
						<option value="Punjab">Punjab</option>
						<option value="Rajasthan">Rajasthan</option>
						<option value="Sikkim">Sikkim</option>
						<option value="Tamil Nadu">Tamil Nadu</option>
						<option value="Telangana">Telangana</option>
						<option value="Tripura">Tripura</option>
						<option value="Uttarakhand">Uttarakhand</option>
						<option value="West Bengal">West Bengal </option>
            </select>
            {% endif %}
            {% if data.state == "Bihar" %}
            <select name="state">
                <option selected disabled>Select state</option>
						<option value="Uttar Pradesh" > Uttar Pradesh</option>
						<option value="Gujarat"> Gujarat</option>
						<option value="Maharatra"> Maharatra</option>
						<option value="Andhra Pradesh">Andhra Pradesh</option>
						<option value="Arunachal Pradesh">Arunachal Pradesh</option>
						<option value="Assam">Assam</option>
						<option value="Bihar" selected>Bihar</option>
						<option value="Goa">Goa</option>
						<option value="Haryana">Haryana</option>
						<option value="Himachal">Himachal Pradesh</option>
						<option value="Jharkhand">Jharkhand</option>
						<option value="Karnataka">Karnataka</option>
						<option value="Kerala">Kerala</option>
						<option value="Madhya Pradesh">Madhya Pradesh</option>
						<option value="Manipur">Manipur</option>
						<option value="Meghalaya">Meghalaya</option>
						<option value="Mizoram">Mizoram</option>
						<option value="Nagaland">Nagaland</option>
						<option value="Odisha">Odisha</option>
						<option value="Punjab">Punjab</option>
						<option value="Rajasthan">Rajasthan</option>
						<option value="Sikkim">Sikkim</option>
						<option value="Tamil Nadu">Tamil Nadu</option>
						<option value="Telangana">Telangana</option>
						<option value="Tripura">Tripura</option>
						<option value="Uttarakhand">Uttarakhand</option>
						<option value="West Bengal">West Bengal </option>
            </select>
            {% endif %}
            {% if data.state == "Goa" %}
            <select name="state">
                <option selected disabled>Select state</option>
						<option value="Uttar Pradesh" > Uttar Pradesh</option>
						<option value="Gujarat"> Gujarat</option>
						<option value="Maharatra"> Maharatra</option>
						<option value="Andhra Pradesh">Andhra Pradesh</option>
						<option value="Arunachal Pradesh">Arunachal Pradesh</option>
						<option value="Assam">Assam</option>
						<option value="Bihar">Bihar</option>
						<option value="Goa" selected>Goa</option>
						<option value="Haryana">Haryana</option>
						<option value="Himachal">Himachal Pradesh</option>
						<option value="Jharkhand">Jharkhand</option>
						<option value="Karnataka">Karnataka</option>
						<option value="Kerala">Kerala</option>
						<option value="Madhya Pradesh">Madhya Pradesh</option>
						<option value="Manipur">Manipur</option>
						<option value="Meghalaya">Meghalaya</option>
						<option value="Mizoram">Mizoram</option>
						<option value="Nagaland">Nagaland</option>
						<option value="Odisha">Odisha</option>
						<option value="Punjab">Punjab</option>
						<option value="Rajasthan">Rajasthan</option>
						<option value="Sikkim">Sikkim</option>
						<option value="Tamil Nadu">Tamil Nadu</option>
						<option value="Telangana">Telangana</option>
						<option value="Tripura">Tripura</option>
						<option value="Uttarakhand">Uttarakhand</option>
						<option value="West Bengal">West Bengal </option>
            </select>
            {% endif %}
            {% if data.state == "Haryana" %}
            <select name="state">
                <option selected disabled>Select state</option>
						<option value="Uttar Pradesh" > Uttar Pradesh</option>
						<option value="Gujarat"> Gujarat</option>
						<option value="Maharatra"> Maharatra</option>
						<option value="Andhra Pradesh">Andhra Pradesh</option>
						<option value="Arunachal Pradesh">Arunachal Pradesh</option>
						<option value="Assam">Assam</option>
						<option value="Bihar">Bihar</option>
						<option value="Goa">Goa</option>
						<option value="Haryana" selected>Haryana</option>
						<option value="Himachal">Himachal Pradesh</option>
						<option value="Jharkhand">Jharkhand</option>
						<option value="Karnataka">Karnataka</option>
						<option value="Kerala">Kerala</option>
						<option value="Madhya Pradesh">Madhya Pradesh</option>
						<option value="Manipur">Manipur</option>
						<option value="Meghalaya">Meghalaya</option>
						<option value="Mizoram">Mizoram</option>
						<option value="Nagaland">Nagaland</option>
						<option value="Odisha">Odisha</option>
						<option value="Punjab">Punjab</option>
						<option value="Rajasthan">Rajasthan</option>
						<option value="Sikkim">Sikkim</option>
						<option value="Tamil Nadu">Tamil Nadu</option>
						<option value="Telangana">Telangana</option>
						<option value="Tripura">Tripura</option>
						<option value="Uttarakhand">Uttarakhand</option>
						<option value="West Bengal">West Bengal </option>
            </select>
            {% endif %}
            {% if data.state == "Himachal" %}
            <select name="state">
                <option selected disabled>Select state</option>
						<option value="Uttar Pradesh" > Uttar Pradesh</option>
						<option value="Gujarat"> Gujarat</option>
						<option value="Maharatra"> Maharatra</option>
						<option value="Andhra Pradesh">Andhra Pradesh</option>
						<option value="Arunachal Pradesh">Arunachal Pradesh</option>
						<option value="Assam">Assam</option>
						<option value="Bihar">Bihar</option>
						<option value="Goa">Goa</option>
						<option value="Haryana">Haryana</option>
						<option value="Himachal" selected>Himachal Pradesh</option>
						<option value="Jharkhand">Jharkhand</option>
						<option value="Karnataka">Karnataka</option>
						<option value="Kerala">Kerala</option>
						<option value="Madhya Pradesh">Madhya Pradesh</option>
						<option value="Manipur">Manipur</option>
						<option value="Meghalaya">Meghalaya</option>
						<option value="Mizoram">Mizoram</option>
						<option value="Nagaland">Nagaland</option>
						<option value="Odisha">Odisha</option>
						<option value="Punjab">Punjab</option>
						<option value="Rajasthan">Rajasthan</option>
						<option value="Sikkim">Sikkim</option>
						<option value="Tamil Nadu">Tamil Nadu</option>
						<option value="Telangana">Telangana</option>
						<option value="Tripura">Tripura</option>
						<option value="Uttarakhand">Uttarakhand</option>
						<option value="West Bengal">West Bengal </option>
            </select>
            {% endif %}
            {% if data.state == "Jharkhand" %}
            <select name="state">
                <option selected disabled>Select state</option>
						<option value="Uttar Pradesh" > Uttar Pradesh</option>
						<option value="Gujarat"> Gujarat</option>
						<option value="Maharatra"> Maharatra</option>
						<option value="Andhra Pradesh">Andhra Pradesh</option>
						<option value="Arunachal Pradesh">Arunachal Pradesh</option>
						<option value="Assam">Assam</option>
						<option value="Bihar">Bihar</option>
						<option value="Goa">Goa</option>
						<option value="Haryana">Haryana</option>
						<option value="Himachal">Himachal Pradesh</option>
						<option value="Jharkhand" selected>Jharkhand</option>
						<option value="Karnataka">Karnataka</option>
						<option value="Kerala">Kerala</option>
						<option value="Madhya Pradesh">Madhya Pradesh</option>
						<option value="Manipur">Manipur</option>
						<option value="Meghalaya">Meghalaya</option>
						<option value="Mizoram">Mizoram</option>
						<option value="Nagaland">Nagaland</option>
						<option value="Odisha">Odisha</option>
						<option value="Punjab">Punjab</option>
						<option value="Rajasthan">Rajasthan</option>
						<option value="Sikkim">Sikkim</option>
						<option value="Tamil Nadu">Tamil Nadu</option>
						<option value="Telangana">Telangana</option>
						<option value="Tripura">Tripura</option>
						<option value="Uttarakhand">Uttarakhand</option>
						<option value="West Bengal">West Bengal </option>
            </select>
            {% endif %}
            {% if data.state == "Karnataka" %}
            <select name="state">
                <option selected disabled>Select state</option>
						<option value="Uttar Pradesh" > Uttar Pradesh</option>
						<option value="Gujarat"> Gujarat</option>
						<option value="Maharatra"> Maharatra</option>
						<option value="Andhra Pradesh">Andhra Pradesh</option>
						<option value="Arunachal Pradesh">Arunachal Pradesh</option>
						<option value="Assam">Assam</option>
						<option value="Bihar">Bihar</option>
						<option value="Goa">Goa</option>
						<option value="Haryana">Haryana</option>
						<option value="Himachal">Himachal Pradesh</option>
						<option value="Jharkhand">Jharkhand</option>
						<option value="Karnataka" selected>Karnataka</option>
						<option value="Kerala">Kerala</option>
						<option value="Madhya Pradesh">Madhya Pradesh</option>
						<option value="Manipur">Manipur</option>
						<option value="Meghalaya">Meghalaya</option>
						<option value="Mizoram">Mizoram</option>
						<option value="Nagaland">Nagaland</option>
						<option value="Odisha">Odisha</option>
						<option value="Punjab">Punjab</option>
						<option value="Rajasthan">Rajasthan</option>
						<option value="Sikkim">Sikkim</option>
						<option value="Tamil Nadu">Tamil Nadu</option>
						<option value="Telangana">Telangana</option>
						<option value="Tripura">Tripura</option>
						<option value="Uttarakhand">Uttarakhand</option>
						<option value="West Bengal">West Bengal </option>
            </select>
            {% endif %}
            {% if data.state == "Kerala" %}
            <select name="state">
                <option selected disabled>Select state</option>
						<option value="Uttar Pradesh" > Uttar Pradesh</option>
						<option value="Gujarat"> Gujarat</option>
						<option value="Maharatra"> Maharatra</option>
						<option value="Andhra Pradesh">Andhra Pradesh</option>
						<option value="Arunachal Pradesh">Arunachal Pradesh</option>
						<option value="Assam">Assam</option>
						<option value="Bihar">Bihar</option>
						<option value="Goa">Goa</option>
						<option value="Haryana">Haryana</option>
						<option value="Himachal">Himachal Pradesh</option>
						<option value="Jharkhand">Jharkhand</option>
						<option value="Karnataka">Karnataka</option>
						<option value="Kerala" selected>Kerala</option>
						<option value="Madhya Pradesh">Madhya Pradesh</option>
						<option value="Manipur">Manipur</option>
						<option value="Meghalaya">Meghalaya</option>
						<option value="Mizoram">Mizoram</option>
						<option value="Nagaland">Nagaland</option>
						<option value="Odisha">Odisha</option>
						<option value="Punjab">Punjab</option>
						<option value="Rajasthan">Rajasthan</option>
						<option value="Sikkim">Sikkim</option>
						<option value="Tamil Nadu">Tamil Nadu</option>
						<option value="Telangana">Telangana</option>
						<option value="Tripura">Tripura</option>
						<option value="Uttarakhand">Uttarakhand</option>
						<option value="West Bengal">West Bengal </option>
            </select>
            {% endif %}
            {% if data.state == "Madhya Pradesh" %}
            <select name="state">
                <option selected disabled>Select state</option>
						<option value="Uttar Pradesh" > Uttar Pradesh</option>
						<option value="Gujarat"> Gujarat</option>
						<option value="Maharatra"> Maharatra</option>
						<option value="Andhra Pradesh">Andhra Pradesh</option>
						<option value="Arunachal Pradesh">Arunachal Pradesh</option>
						<option value="Assam">Assam</option>
						<option value="Bihar">Bihar</option>
						<option value="Goa">Goa</option>
						<option value="Haryana">Haryana</option>
						<option value="Himachal">Himachal Pradesh</option>
						<option value="Jharkhand">Jharkhand</option>
						<option value="Karnataka">Karnataka</option>
						<option value="Kerala">Kerala</option>
						<option value="Madhya Pradesh" selected>Madhya Pradesh</option>
						<option value="Manipur">Manipur</option>
						<option value="Meghalaya">Meghalaya</option>
						<option value="Mizoram">Mizoram</option>
						<option value="Nagaland">Nagaland</option>
						<option value="Odisha">Odisha</option>
						<option value="Punjab">Punjab</option>
						<option value="Rajasthan">Rajasthan</option>
						<option value="Sikkim">Sikkim</option>
						<option value="Tamil Nadu">Tamil Nadu</option>
						<option value="Telangana">Telangana</option>
						<option value="Tripura">Tripura</option>
						<option value="Uttarakhand">Uttarakhand</option>
						<option value="West Bengal">West Bengal </option>
            </select>
            {% endif %}
            {% if data.state == "Manipur" %}
            <select name="state">
                <option selected disabled>Select state</option>
						<option value="Uttar Pradesh" > Uttar Pradesh</option>
						<option value="Gujarat"> Gujarat</option>
						<option value="Maharatra"> Maharatra</option>
						<option value="Andhra Pradesh">Andhra Pradesh</option>
						<option value="Arunachal Pradesh">Arunachal Pradesh</option>
						<option value="Assam">Assam</option>
						<option value="Bihar">Bihar</option>
						<option value="Goa">Goa</option>
						<option value="Haryana">Haryana</option>
						<option value="Himachal">Himachal Pradesh</option>
						<option value="Jharkhand">Jharkhand</option>
						<option value="Karnataka">Karnataka</option>
						<option value="Kerala">Kerala</option>
						<option value="Madhya Pradesh">Madhya Pradesh</option>
						<option value="Manipur" selected>Manipur</option>
						<option value="Meghalaya">Meghalaya</option>
						<option value="Mizoram">Mizoram</option>
						<option value="Nagaland">Nagaland</option>
						<option value="Odisha">Odisha</option>
						<option value="Punjab">Punjab</option>
						<option value="Rajasthan">Rajasthan</option>
						<option value="Sikkim">Sikkim</option>
						<option value="Tamil Nadu">Tamil Nadu</option>
						<option value="Telangana">Telangana</option>
						<option value="Tripura">Tripura</option>
						<option value="Uttarakhand">Uttarakhand</option>
						<option value="West Bengal">West Bengal </option>
            </select>
            {% endif %}
            {% if data.state == "Meghalaya" %}
            <select name="state">
                <option selected disabled>Select state</option>
						<option value="Uttar Pradesh" > Uttar Pradesh</option>
						<option value="Gujarat"> Gujarat</option>
						<option value="Maharatra"> Maharatra</option>
						<option value="Andhra Pradesh">Andhra Pradesh</option>
						<option value="Arunachal Pradesh">Arunachal Pradesh</option>
						<option value="Assam">Assam</option>
						<option value="Bihar">Bihar</option>
						<option value="Goa">Goa</option>
						<option value="Haryana">Haryana</option>
						<option value="Himachal">Himachal Pradesh</option>
						<option value="Jharkhand">Jharkhand</option>
						<option value="Karnataka">Karnataka</option>
						<option value="Kerala">Kerala</option>
						<option value="Madhya Pradesh">Madhya Pradesh</option>
						<option value="Manipur">Manipur</option>
						<option value="Meghalaya" selected>Meghalaya</option>
						<option value="Mizoram">Mizoram</option>
						<option value="Nagaland">Nagaland</option>
						<option value="Odisha">Odisha</option>
						<option value="Punjab">Punjab</option>
						<option value="Rajasthan">Rajasthan</option>
						<option value="Sikkim">Sikkim</option>
						<option value="Tamil Nadu">Tamil Nadu</option>
						<option value="Telangana">Telangana</option>
						<option value="Tripura">Tripura</option>
						<option value="Uttarakhand">Uttarakhand</option>
						<option value="West Bengal">West Bengal </option>
            </select>
            {% endif %}
            {% if data.state == "Mizoram" %}
            <select name="state">
                <option selected disabled>Select state</option>
						<option value="Uttar Pradesh" > Uttar Pradesh</option>
						<option value="Gujarat"> Gujarat</option>
						<option value="Maharatra"> Maharatra</option>
						<option value="Andhra Pradesh">Andhra Pradesh</option>
						<option value="Arunachal Pradesh">Arunachal Pradesh</option>
						<option value="Assam">Assam</option>
						<option value="Bihar">Bihar</option>
						<option value="Goa">Goa</option>
						<option value="Haryana">Haryana</option>
						<option value="Himachal">Himachal Pradesh</option>
						<option value="Jharkhand">Jharkhand</option>
						<option value="Karnataka">Karnataka</option>
						<option value="Kerala">Kerala</option>
						<option value="Madhya Pradesh">Madhya Pradesh</option>
						<option value="Manipur">Manipur</option>
						<option value="Meghalaya">Meghalaya</option>
						<option value="Mizoram" selected>Mizoram</option>
						<option value="Nagaland">Nagaland</option>
						<option value="Odisha">Odisha</option>
						<option value="Punjab">Punjab</option>
						<option value="Rajasthan">Rajasthan</option>
						<option value="Sikkim">Sikkim</option>
						<option value="Tamil Nadu">Tamil Nadu</option>
						<option value="Telangana">Telangana</option>
						<option value="Tripura">Tripura</option>
						<option value="Uttarakhand">Uttarakhand</option>
						<option value="West Bengal">West Bengal </option>
            </select>
            {% endif %}
            {% if data.state == "Nagaland" %}
            <select name="state">
                <option selected disabled>Select state</option>
						<option value="Uttar Pradesh" > Uttar Pradesh</option>
						<option value="Gujarat"> Gujarat</option>
						<option value="Maharatra"> Maharatra</option>
						<option value="Andhra Pradesh">Andhra Pradesh</option>
						<option value="Arunachal Pradesh">Arunachal Pradesh</option>
						<option value="Assam">Assam</option>
						<option value="Bihar">Bihar</option>
						<option value="Goa">Goa</option>
						<option value="Haryana">Haryana</option>
						<option value="Himachal">Himachal Pradesh</option>
						<option value="Jharkhand">Jharkhand</option>
						<option value="Karnataka">Karnataka</option>
						<option value="Kerala">Kerala</option>
						<option value="Madhya Pradesh">Madhya Pradesh</option>
						<option value="Manipur">Manipur</option>
						<option value="Meghalaya">Meghalaya</option>
						<option value="Mizoram">Mizoram</option>
						<option value="Nagaland" selected>Nagaland</option>
						<option value="Odisha">Odisha</option>
						<option value="Punjab">Punjab</option>
						<option value="Rajasthan">Rajasthan</option>
						<option value="Sikkim">Sikkim</option>
						<option value="Tamil Nadu">Tamil Nadu</option>
						<option value="Telangana">Telangana</option>
						<option value="Tripura">Tripura</option>
						<option value="Uttarakhand">Uttarakhand</option>
						<option value="West Bengal">West Bengal </option>
            </select>
            {% endif %}
            {% if data.state == "Odisha" %}
            <select name="state">
                <option selected disabled>Select state</option>
						<option value="Uttar Pradesh" > Uttar Pradesh</option>
						<option value="Gujarat"> Gujarat</option>
						<option value="Maharatra"> Maharatra</option>
						<option value="Andhra Pradesh">Andhra Pradesh</option>
						<option value="Arunachal Pradesh">Arunachal Pradesh</option>
						<option value="Assam">Assam</option>
						<option value="Bihar">Bihar</option>
						<option value="Goa">Goa</option>
						<option value="Haryana">Haryana</option>
						<option value="Himachal">Himachal Pradesh</option>
						<option value="Jharkhand">Jharkhand</option>
						<option value="Karnataka">Karnataka</option>
						<option value="Kerala">Kerala</option>
						<option value="Madhya Pradesh">Madhya Pradesh</option>
						<option value="Manipur">Manipur</option>
						<option value="Meghalaya">Meghalaya</option>
						<option value="Mizoram">Mizoram</option>
						<option value="Nagaland">Nagaland</option>
						<option value="Odisha" selected>Odisha</option>
						<option value="Punjab">Punjab</option>
						<option value="Rajasthan">Rajasthan</option>
						<option value="Sikkim">Sikkim</option>
						<option value="Tamil Nadu">Tamil Nadu</option>
						<option value="Telangana">Telangana</option>
						<option value="Tripura">Tripura</option>
						<option value="Uttarakhand">Uttarakhand</option>
						<option value="West Bengal">West Bengal </option>
            </select>
            {% endif %}
            {% if data.state == "Punjab" %}
            <select name="state">
                <option selected disabled>Select state</option>
						<option value="Uttar Pradesh" > Uttar Pradesh</option>
						<option value="Gujarat"> Gujarat</option>
						<option value="Maharatra"> Maharatra</option>
						<option value="Andhra Pradesh">Andhra Pradesh</option>
						<option value="Arunachal Pradesh">Arunachal Pradesh</option>
						<option value="Assam">Assam</option>
						<option value="Bihar">Bihar</option>
						<option value="Goa">Goa</option>
						<option value="Haryana">Haryana</option>
						<option value="Himachal">Himachal Pradesh</option>
						<option value="Jharkhand">Jharkhand</option>
						<option value="Karnataka">Karnataka</option>
						<option value="Kerala">Kerala</option>
						<option value="Madhya Pradesh">Madhya Pradesh</option>
						<option value="Manipur">Manipur</option>
						<option value="Meghalaya">Meghalaya</option>
						<option value="Mizoram">Mizoram</option>
						<option value="Nagaland">Nagaland</option>
						<option value="Odisha">Odisha</option>
						<option value="Punjab" selected>Punjab</option>
						<option value="Rajasthan">Rajasthan</option>
						<option value="Sikkim">Sikkim</option>
						<option value="Tamil Nadu">Tamil Nadu</option>
						<option value="Telangana">Telangana</option>
						<option value="Tripura">Tripura</option>
						<option value="Uttarakhand">Uttarakhand</option>
						<option value="West Bengal">West Bengal </option>
            </select>
            {% endif %}
            {% if data.state == "Rajasthan" %}
            <select name="state">
                <option selected disabled>Select state</option>
						<option value="Uttar Pradesh" > Uttar Pradesh</option>
						<option value="Gujarat"> Gujarat</option>
						<option value="Maharatra"> Maharatra</option>
						<option value="Andhra Pradesh">Andhra Pradesh</option>
						<option value="Arunachal Pradesh">Arunachal Pradesh</option>
						<option value="Assam">Assam</option>
						<option value="Bihar">Bihar</option>
						<option value="Goa">Goa</option>
						<option value="Haryana">Haryana</option>
						<option value="Himachal">Himachal Pradesh</option>
						<option value="Jharkhand">Jharkhand</option>
						<option value="Karnataka">Karnataka</option>
						<option value="Kerala">Kerala</option>
						<option value="Madhya Pradesh">Madhya Pradesh</option>
						<option value="Manipur">Manipur</option>
						<option value="Meghalaya">Meghalaya</option>
						<option value="Mizoram">Mizoram</option>
						<option value="Nagaland">Nagaland</option>
						<option value="Odisha">Odisha</option>
						<option value="Punjab">Punjab</option>
						<option value="Rajasthan" selected>Rajasthan</option>
						<option value="Sikkim">Sikkim</option>
						<option value="Tamil Nadu">Tamil Nadu</option>
						<option value="Telangana">Telangana</option>
						<option value="Tripura">Tripura</option>
						<option value="Uttarakhand">Uttarakhand</option>
						<option value="West Bengal">West Bengal </option>
            </select>
            {% endif %}
            {% if data.state == "Sikkim" %}
            <select name="state">
                <option selected disabled>Select state</option>
						<option value="Uttar Pradesh" > Uttar Pradesh</option>
						<option value="Gujarat"> Gujarat</option>
						<option value="Maharatra"> Maharatra</option>
						<option value="Andhra Pradesh">Andhra Pradesh</option>
						<option value="Arunachal Pradesh">Arunachal Pradesh</option>
						<option value="Assam">Assam</option>
						<option value="Bihar">Bihar</option>
						<option value="Goa">Goa</option>
						<option value="Haryana">Haryana</option>
						<option value="Himachal">Himachal Pradesh</option>
						<option value="Jharkhand">Jharkhand</option>
						<option value="Karnataka">Karnataka</option>
						<option value="Kerala">Kerala</option>
						<option value="Madhya Pradesh">Madhya Pradesh</option>
						<option value="Manipur">Manipur</option>
						<option value="Meghalaya">Meghalaya</option>
						<option value="Mizoram">Mizoram</option>
						<option value="Nagaland">Nagaland</option>
						<option value="Odisha">Odisha</option>
						<option value="Punjab">Punjab</option>
						<option value="Rajasthan">Rajasthan</option>
						<option value="Sikkim" selected>Sikkim</option>
						<option value="Tamil Nadu">Tamil Nadu</option>
						<option value="Telangana">Telangana</option>
						<option value="Tripura">Tripura</option>
						<option value="Uttarakhand">Uttarakhand</option>
						<option value="West Bengal">West Bengal </option>
            </select>
            {% endif %}
            {% if data.state == "Tamil Nadu" %}
            <select name="state">
                <option selected disabled>Select state</option>
						<option value="Uttar Pradesh" > Uttar Pradesh</option>
						<option value="Gujarat"> Gujarat</option>
						<option value="Maharatra"> Maharatra</option>
						<option value="Andhra Pradesh">Andhra Pradesh</option>
						<option value="Arunachal Pradesh">Arunachal Pradesh</option>
						<option value="Assam">Assam</option>
						<option value="Bihar">Bihar</option>
						<option value="Goa">Goa</option>
						<option value="Haryana">Haryana</option>
						<option value="Himachal">Himachal Pradesh</option>
						<option value="Jharkhand">Jharkhand</option>
						<option value="Karnataka">Karnataka</option>
						<option value="Kerala">Kerala</option>
						<option value="Madhya Pradesh">Madhya Pradesh</option>
						<option value="Manipur">Manipur</option>
						<option value="Meghalaya">Meghalaya</option>
						<option value="Mizoram">Mizoram</option>
						<option value="Nagaland">Nagaland</option>
						<option value="Odisha">Odisha</option>
						<option value="Punjab">Punjab</option>
						<option value="Rajasthan">Rajasthan</option>
						<option value="Sikkim">Sikkim</option>
						<option value="Tamil Nadu" selected>Tamil Nadu</option>
						<option value="Telangana">Telangana</option>
						<option value="Tripura">Tripura</option>
						<option value="Uttarakhand">Uttarakhand</option>
						<option value="West Bengal">West Bengal </option>
            </select>
            {% endif %}
            {% if data.state == "Telangana" %}
            <select name="state">
                <option selected disabled>Select state</option>
						<option value="Uttar Pradesh" > Uttar Pradesh</option>
						<option value="Gujarat"> Gujarat</option>
						<option value="Maharatra"> Maharatra</option>
						<option value="Andhra Pradesh">Andhra Pradesh</option>
						<option value="Arunachal Pradesh">Arunachal Pradesh</option>
						<option value="Assam">Assam</option>
						<option value="Bihar">Bihar</option>
						<option value="Goa">Goa</option>
						<option value="Haryana">Haryana</option>
						<option value="Himachal">Himachal Pradesh</option>
						<option value="Jharkhand">Jharkhand</option>
						<option value="Karnataka">Karnataka</option>
						<option value="Kerala">Kerala</option>
						<option value="Madhya Pradesh">Madhya Pradesh</option>
						<option value="Manipur">Manipur</option>
						<option value="Meghalaya">Meghalaya</option>
						<option value="Mizoram">Mizoram</option>
						<option value="Nagaland">Nagaland</option>
						<option value="Odisha">Odisha</option>
						<option value="Punjab">Punjab</option>
						<option value="Rajasthan">Rajasthan</option>
						<option value="Sikkim">Sikkim</option>
						<option value="Tamil Nadu">Tamil Nadu</option>
						<option value="Telangana" selected>Telangana</option>
						<option value="Tripura">Tripura</option>
						<option value="Uttarakhand">Uttarakhand</option>
						<option value="West Bengal">West Bengal </option>
            </select>
            {% endif %}
            {% if data.state == "Tripura" %}
            <select name="state">
                <option selected disabled>Select state</option>
						<option value="Uttar Pradesh" > Uttar Pradesh</option>
						<option value="Gujarat"> Gujarat</option>
						<option value="Maharatra"> Maharatra</option>
						<option value="Andhra Pradesh">Andhra Pradesh</option>
						<option value="Arunachal Pradesh">Arunachal Pradesh</option>
						<option value="Assam">Assam</option>
						<option value="Bihar">Bihar</option>
						<option value="Goa">Goa</option>
						<option value="Haryana">Haryana</option>
						<option value="Himachal">Himachal Pradesh</option>
						<option value="Jharkhand">Jharkhand</option>
						<option value="Karnataka">Karnataka</option>
						<option value="Kerala">Kerala</option>
						<option value="Madhya Pradesh">Madhya Pradesh</option>
						<option value="Manipur">Manipur</option>
						<option value="Meghalaya">Meghalaya</option>
						<option value="Mizoram">Mizoram</option>
						<option value="Nagaland">Nagaland</option>
						<option value="Odisha">Odisha</option>
						<option value="Punjab">Punjab</option>
						<option value="Rajasthan">Rajasthan</option>
						<option value="Sikkim">Sikkim</option>
						<option value="Tamil Nadu">Tamil Nadu</option>
						<option value="Telangana">Telangana</option>
						<option value="Tripura" selected>Tripura</option>
						<option value="Uttarakhand">Uttarakhand</option>
						<option value="West Bengal">West Bengal </option>
            </select>
            {% endif %}
            {% if data.state == "Uttarakhand" %}
            <select name="state">
                <option selected disabled>Select state</option>
						<option value="Uttar Pradesh" > Uttar Pradesh</option>
						<option value="Gujarat"> Gujarat</option>
						<option value="Maharatra"> Maharatra</option>
						<option value="Andhra Pradesh">Andhra Pradesh</option>
						<option value="Arunachal Pradesh">Arunachal Pradesh</option>
						<option value="Assam">Assam</option>
						<option value="Bihar">Bihar</option>
						<option value="Goa">Goa</option>
						<option value="Haryana">Haryana</option>
						<option value="Himachal">Himachal Pradesh</option>
						<option value="Jharkhand">Jharkhand</option>
						<option value="Karnataka">Karnataka</option>
						<option value="Kerala">Kerala</option>
						<option value="Madhya Pradesh">Madhya Pradesh</option>
						<option value="Manipur">Manipur</option>
						<option value="Meghalaya">Meghalaya</option>
						<option value="Mizoram">Mizoram</option>
						<option value="Nagaland">Nagaland</option>
						<option value="Odisha">Odisha</option>
						<option value="Punjab">Punjab</option>
						<option value="Rajasthan">Rajasthan</option>
						<option value="Sikkim">Sikkim</option>
						<option value="Tamil Nadu">Tamil Nadu</option>
						<option value="Telangana">Telangana</option>
						<option value="Tripura">Tripura</option>
						<option value="Uttarakhand" selected>Uttarakhand</option>
						<option value="West Bengal">West Bengal </option>
            </select>
            {% endif %}
            {% if data.state == "West Bengal" %}
            <select name="state">
                <option selected disabled>Select state</option>
						<option value="Uttar Pradesh" > Uttar Pradesh</option>
						<option value="Gujarat"> Gujarat</option>
						<option value="Maharatra"> Maharatra</option>
						<option value="Andhra Pradesh">Andhra Pradesh</option>
						<option value="Arunachal Pradesh">Arunachal Pradesh</option>
						<option value="Assam">Assam</option>
						<option value="Bihar">Bihar</option>
						<option value="Goa">Goa</option>
						<option value="Haryana">Haryana</option>
						<option value="Himachal">Himachal Pradesh</option>
						<option value="Jharkhand">Jharkhand</option>
						<option value="Karnataka">Karnataka</option>
						<option value="Kerala">Kerala</option>
						<option value="Madhya Pradesh">Madhya Pradesh</option>
						<option value="Manipur">Manipur</option>
						<option value="Meghalaya">Meghalaya</option>
						<option value="Mizoram">Mizoram</option>
						<option value="Nagaland">Nagaland</option>
						<option value="Odisha">Odisha</option>
						<option value="Punjab">Punjab</option>
						<option value="Rajasthan">Rajasthan</option>
						<option value="Sikkim">Sikkim</option>
						<option value="Tamil Nadu">Tamil Nadu</option>
						<option value="Telangana">Telangana</option>
						<option value="Tripura">Tripura</option>
						<option value="Uttarakhand">Uttarakhand</option>
						<option value="West Bengal" selected>West Bengal </option>
            </select>
            {% endif %}
           
        <br>
            <label for="img">Update Image</label>
            <input type="file" name="image" id="img" style="width: 300px;" required>
        <br>
        <div style="margin-right: 360px;">
            <img src="{{data.image.url}}" alt="image" height="80px" width="70px" >
        </div>

        <input type="submit" value="Update" id="sum">    
        </form>
    </div>
    </center>
   <br><br>
   {% if error == "no" %}
   <script>
    alert("update successfully")
    window.location = ("{% url 'edit_recoards' %}")
   </script>
   {% endif %}
   {% if error == "yes" %}
   <script>
    alert("update Not successfully")
   </script>
   {% endif %}
</body>
</html>